<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packages</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://www.paytr.com/js/iframeResizer.min.js"></script>
</head>
<body>
<!-- Ödeme formunun açılması için gereken HTML kodlar / Başlangıç -->
<iframe th:src="'https://www.paytr.com/odeme/guvenli/' + ${token}" id="paytriframe" frameborder="0" scrolling="yes" style="width: 100%; overflow: auto; min-height: 600px;"></iframe>
<script>iFrameResize({},'#paytriframe');</script>
<!-- Ödeme formunun açılması için gereken HTML kodlar / Bitiş -->

</body>
</html>