

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Add Bootstrap to Thymeleaf</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <button type="button" class="btn btn-primary">Primary</button>

  <div class="row">
    sasasasa
  </div>

  <div align="center">
    <h2>Welcome to CodeJava.net Admin Control Panel</h2>
    <p>Your user name is: <b></b></p>
    <form th:action="@{/user/logout}" method="post">
      <input type="submit" value="Logout" />
    </form>
  </div>
</div>
</body>
</html>

